# Copy this file to .env.local and fill in your Firebase project's web config
# (Project settings -> General -> Your apps -> SDK setup and configuration)

NEXT_PUBLIC_FIREBASE_API_KEY= AIzaSyDcjMv9dqkVlkb-RtxNKHkwO3z_KzyN-h0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN= bustrackingsystem-24baf.firebaseapp.com
# This must be your Realtime Database URL, e.g.
# https://bustrackingsystem-24baf-default-rtdb.firebaseio.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://bustrackingsystem-24baf-default-rtdb.asia-southeast1.firebasedatabase.app
NEXT_PUBLIC_FIREBASE_PROJECT_ID=bustrackingsystem-24baf
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=bustrackingsystem-24baf.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=26878107905
NEXT_PUBLIC_FIREBASE_APP_ID=1:26878107905:web:26ee37dc94bf6f85e63b00
